@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Londrina+Solid:wght@100;300&family=Press+Start+2P&display=swap');

*{
    margin:0;
    padding:0;
    color: white;
}
body{
    height: 100vh;
    background-color: rgb(187, 187, 167);
    width: 100vw;
}

nav{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 45px;
    color: white;
    background-color: rgb(50, 87, 221);
}

nav ul li{
    padding: 0 12px;
}

.brand{
    display: flex;
    align-items: center;
    height: 90px;
    font-family: 'Akronim', cursive;
    font-size: 2rem;
    color: bisque;

}
.brand img{
    height: 40px;
    width :45px; 
    padding: 0 10px;
    border-radius: 50%;
}

.container{
    min-height: 80vh;
    background-color: rgba(0, 0, 0,0.4);
    width: 70%;
    margin: 15px auto;
    border-radius: 20px;
    background-image: url(images/bg1.jpg);
    background-size: 100% 100%;
    font-family: 'Londrina Solid', cursive;
}

.songList{
padding: 5px;
}

.songItem{
    display: flex;
    font-family: -webkit-pictograph;
    font-weight: bolder;
    justify-content: space-around;
    width: 50%;
    margin:12px 0;
    padding: 5px;
    background-color:#fffcfcc4;
    border-radius: 20px;
}
.songItem span{
    margin: auto;
    color: black;
}

.songItem img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.songListPlay{
    color:black;
}

.timeStamp{
    color: black;
}

.timeStamp img{
    height: 40px;
    width: 50px;
    cursor: pointer;
}

.bottom{
    position: sticky;
    height: 100px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;    
}

.songInfo{
    display: flex;
}

.songInfo img{
    height: 30px;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.icons{
    width: 20vw;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
}

.icons img{
    cursor: pointer;
}

#next{
    width: 40px;
    border: 2px solid white;

}
#mainPlay{
    width: 40px;
    border: 2px solid white;
}
#previous{
    width: 40px;
    border: 2px solid white;

}




/* .........responsive process is now starting........ */
/* .........responsive process is now starting........ */
/* .........responsive process is now starting........ */
/* .........responsive process is now starting........ */
/* .........responsive process is now starting........ */
/* .........responsive process is now starting........ */







@media only screen and (max-width: 1000px) {
    .container{
        width: 85%;
    }
    .songItem {
        width: 95%;
    }
  }

  @media only screen and (max-width: 450px) {
      nav ul li{
          padding: 6px;
      }
      .brand{
          font-size: 1.5rem;
      }
      .brand img{
          height: 25px;
          width: 30px;
      }
    .container{
        width: 90%;
    }
    .songList h1 {
        font-size: x-large;
    }
    .songItem{
        height: 25px;
    }
    .songItem img{
        height: 25px;
        width: 25px;
    }
    .timeStamp img {
        height: 25px;
        width: 25px ;
    }
    #previous{
        width: 25px;
    }
    #mainPlay{
        width: 25px;
    }
    #next{
        width: 35px;
    }
    #mainPlaySongName{
        font-size: small;
        text-align: center;
    }
  }
  @media only screen and (max-width: 300px) {
      .container{
          font-size: smaller;
          position: relative;
          left: 0vw;
          width: 80vw;
      }
    .brand{
        font-size: 1.2rem;
    }
    nav ul{
        flex-direction: column;
        align-items: flex-start;
        height: 90px;
    }
    nav ul li{
        padding:2px;
        font-size: smaller;
    }
    .songInfo{
        position: relative;
        left: -10vw;
        align-items: flex-start;
    }
    .icons{
        width: 50vw;
    }
    #mainPlaySongName{
        text-align: left;
    }
  }